@mixin row {
    display: flex;
    flex-direction: row;
}


@mixin column {
    display: flex;
    flex-direction: column;
}

.main{

    .navbar{
        background-color: rgb(37, 201, 241);
        padding: 0 12%;
        box-sizing: border-box;

        .btn-menu{
            background-color: transparent;
            border: none;
            outline: none;
            padding: 8px 0;
            display: none;
            float: right;
            margin-top: 8px;
        }

        .list.showTab{
            display: block;
            transition: all 2s;
            left: 0;
            
        }
        
        .list{
            display: flex;
            list-style: none;
            float: right;
            margin-right: 10px;
            
           

            li{
                margin-left: 28px;

                .link{
                    text-decoration: none;
                    color: white;
                    font-family:'Poppins', sans-serif;
                    letter-spacing: 0.5px;
                    font-size: 14px;
                }
            }
        }
    }


    .footer{

        @include row;
        justify-content: space-around;
        padding: 10px 10%;
        background-color: #12586D ;
        font-family : 'Roboto', sans-serif;
    
        .social-media{
            flex: 1;
    
            h3{
                color: white;
                font-size: 18px;
                font-weight: 500;
                margin: 0;
                margin-bottom: 15px;
            }
    
            span{ margin-right: 8px; }
    
          }
    
    
        .product , .connect{
            flex: 1;
            color: white;
    
            h3{
                margin: 0;
                color: white;
                font-weight: 500;
                font-size: 18px;
    
            }
    
            ul{
                list-style: none;
                padding: 0;
                
                li{
                    margin-bottom: 4px;
    
                        .list-link{
                            text-decoration: none;
                            color: white;
                            letter-spacing: 1;
                            font-size: 13px;
                           
    
                                    .icon{
                                        color: white;
                                        margin-right: 4px;
                                    }
        
                            @media (max-width : 465px){
                                letter-spacing: 2px;
                            }
                        }     
                }
            }
        }
    
        .aboutus{
            flex: 1;
            box-sizing: border-box;
            color: white;
    
            h3{
                margin: 0;
                color: white;
                font-weight: 500;
                font-size: 18px;
            }
    
            p{
                font-size: 400;
                font-size: 13px;
                opacity: .9;
                line-height: 1.5;
                letter-spacing: 1px;
            }
          }
        }
    
        .copyright{
            p{
                margin: 0;
                font-weight: 400;
                text-align: center;
            }
        }
    }

@media (max-width : 468px){
    .main {
        .navbar {
            position: relative;
            
            .btn-menu{
                display: block;
            }

            .list{
                position: absolute;
                display: block;
                float: none;
                height: 100vh;
                width: 50%;
                left: -300px;
                position: absolute;
                background-color: rgb(37, 201, 241);
                top: 0px;
                padding: 0;
                padding-top: 30px;
                margin: 0;
                transition: left 2s;


                li{
                    color: black;
                    margin-bottom: 12px;

                    .link{
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
        }


        .footer{
            @include column ;
            padding: 24px ;


            .social-media{
                margin-bottom: 20px;
            }

            .product , .connect{
                margin-bottom: 20px;
            }

            .connect{
                color: white;

                ul{
                    li{
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

    