.comments{
    padding: 30px 10%;
}

.comments .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.comments .title{
    font-weight: 400;
    font-size: 28px;
    margin: 0;

}

.comments .link:first-child ,.comments .link:nth-child(2) {
    padding : 10px 13px ;
    text-decoration : none ;
}

.comments .link:nth-child(1){
    margin-right: 12px;
    border : 1px solid blue ;

}



.comments .link:nth-child(2){
    margin-right: 12px;
    border : 1px solid red ;
    color: red;

}