@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin column {
    display: flex;
    flex-direction: column;

}

.investor{
    font-family:'Poppins', sans-serif;
    min-height: 100vh;

    .content{

        padding: 30px 18%;
        .content-title{
            text-align: center;
            letter-spacing: 0.6px;
            font-size: 21px ;

        }


        .main-content{
            @include row ;

            .content-img{

                .img{
                    width: 430px;
                    height: 340px;
                }
            }

            .content-desc{
                padding: 0 20px;

                p{
                    width: 80%;
                    font-size: 600;
                }
            }
        }
    }


    .content2{

        padding: 30px 18%;
        
        .main-content{
            @include row ;

            .content-img{

                .img{
                    width: 500px;
                    height: 370px;
                }
            }

            .content-desc{
                padding: 0 20px;

                .content-title{
                    text-align: right;
                    letter-spacing: 0.6px;
                    font-size: 21px ;
        
                }

                p{
                    text-align: right;
                    font-size: 600;
                }
            }
        }
    }




    .investor-info{
        background-color: rgb(37, 201, 241);
        padding: 30px 18%;

        .info{
            text-align: center;
            line-height: 1.4;
            font-size: 21px;
            font-weight: 500;
        }
    }



    .partnership{
        @include column ;
        justify-content: center;
        align-items: center;
        padding: 40px;

        h3{
            font-size: 21px;
        }
    }
}

@media (max-width : 468px){

    .investor{

        .content{
            padding: 30px 5%;

            .content-title{
                margin-bottom: 50px;
                font-weight: 400;
                
            }


            .main-content{
                flex-direction: column;

                .content-img{

                    .img{
                        width: 310px;
                        height: 200px;
                    }
                }

                .content-desc{
                    padding: 0;
                    p{
                        width: 100%;
                        font-size: 16px;
                        line-height: 1.8;
                    }
                }
            }
        }


        .content2{
            padding: 30px 5%;


            .main-content{
                flex-direction: column-reverse;
                

                .content-img{

                    .img{
                        width: 310px;
                        height: 200px;
                    }
                }

                .content-desc{
                    padding: 0;

                    .content-title{
                        text-align: left;
                    }

                    p{
                        width: 100%;
                        font-size: 16px;
                        line-height: 1.8;
                        text-align: left;
                    }
                }
            }
        }


        .investor-info{

            padding: 20px 5%;

            .info{
                font-size: 17px;
                line-height: 1.6;
                font-weight: 400;
                text-align: left;
            }
        }



        .partnership{
            padding: 60px 0;
        }
    }
}